<!doctype html>
<html>
  <head>
    <title>
      Receipt-app - Make quick receipts
    </title>
    <link
       rel="stylesheet"
      href="main.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body data-ng-app="">
    <header>
      <h1>Receipt-app</h1>
      <h2>Make receipts in less then one minute!</h2>
      <h3><a href="#1">Create one now!!</a></h3>
    </header>
    <main>
      <form>
        <div id="1">
          <p>
            What is the <b>subject</b>?
          </p>
          <input
               ng-model="s"
            placeholder="Subject..."
          />
        </div>
        
        <div id="2">
          <p>
            What's the <b>amount</b> of <span ng-bind="s"></span>?
          </p>
          <input
               ng-model="a"
            placeholder="Amount..."
          />
        </div>
        
        <div id="3">
          <p>
            Who is the lucky <b>receiver</b> of <span ng-bind="a"></span> for <span ng-bind="s"></span>?
          </p>
          <input
               ng-model="nr"
            placeholder="Name receiver..."
          />
        </div>
        
        <div id="4">
          <p>
            <b>Who</b> has to <b>pay</b> <span ng-bind="nr"></span> for <span ng-bind="s"></span>?
          </p>
          <input
               ng-model="ns"
            placeholder="Name payer..."
          />
        </div>
        
        <div id="5">
          <p>
            This is the receipt. Print, cut and done!
          </p>
          <input
               ng-model="ns"
            placeholder="Name payer..."
          />
          <div>
            <h5>Receipt</h5>
            <p><span ng-bind="ns"></span> has paid <span ng-bind="a"></span> to <span ng-bind="nr"></span>. <span ng-bind="nr"></span> thanks you for your money!
          </div><br><br><br>
          <div>
            <h5>Receipt</h5>
            <p><span ng-bind="ns"></span> has paid <span ng-bind="a"></span> to <span ng-bind="nr"></span>. <span ng-bind="nr"></span> thanks you for your money!
          </div>
         </div>
       </form>
     </main>
   </body>
</html>
